{% load static %}
<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us - Medicure</title>
    <link rel="icon" href="{% static 'images/tab-logo.png' %}" type="image">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    {% include 'nav.html' %}
    <br><br><br><br>
            <section id = "about" class = "about py">
                <div class="popup" style="z-index: 2;">
                    <div class="popup-container">
                        <h1 class="heading-appointment">Запазване на час:</h1>
                        {% include 'make_an_appointment.html' %} 
                        {% for message in messages %}
                        <span style="color:red">{{message}}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class = "about-inner">
                    <div class = "container grid">
                        <div class = "about-left text-center">
                            <div class = "section-head">
                                <h2>За нас</h2>
                                <div class = "border-line"></div>
                            </div>
                            
                            <p class = "text text-lg">
                                Добре дошли в нашия съвременен болничен център, където здравето и благополучието на пациентите ни са нашето основно предназначение. Нашата болница е оборудвана с най-новите и модерни технологии в медицината, които ни позволяват да предоставяме висококачествени медицински услуги. Също така, нашата болница се гордее с удобни и съвременни сгради, които осигуряват комфорт и безопасност на нашите пациенти. Ние вярваме, че здравето е най-ценното нещо, и сме тук, за да ви подкрепим във вашия път към по-добро здраве и качество на живот.    
                            </p>
                        </div>
                        
                        <div class = "about-right flex">
                                <img class="img " style="border-radius: 1.5rem;" src = "{% static 'images/Medicure_hospital.png' %}">
                        </div>
                    </div>
                </div>
            </section>
            <section id = "about3" class = "about py" style="background-color: #0050d5; color:#fff;">
                <div class = "about-inner">
                    <div class = "container grid">
                        
                        <div class = "about-left flex">
                            <img class="img" src = "{% static 'images/banner-two-bg.png' %}">
                            
                        </div>
                        <div class = "about-right-text text-center" >
                            
                            <p class = "text text-lg">
                                Добре дошли в нашия съвременен болничен център, където здравето и благополучието на пациентите ни са нашето основно предназначение. Нашата болница е оборудвана с най-новите и модерни технологии в медицината, които ни позволяват да предоставяме висококачествени медицински услуги. Също така, нашата болница се гордее с удобни и съвременни сгради, които осигуряват комфорт и безопасност на нашите пациенти. Ние вярваме, че здравето е най-ценното нещо, и сме тук, за да ви подкрепим във вашия път към по-добро здраве и качество на живот.    
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id = "about" class = "about py">
                <div class = "about-inner">
                    <div class = "container grid">
                        <div class = "about-left text-center">
                            <p class = "text text-lg">
                                Нашата болница предлага разнообразие от висококачествени медицински услуги, съчетани със съвременна технология и грижа. Ние сме на разположение на нашите пациенти с цел предоставяне на най-добрата и комплексна медицинска подкрепа. Нашите услуги включват:

                                Диагностика и Прегледи: Нашите специалисти използват най-новите методи за диагностика и изследвания, за да установят точната причина на вашите здравословни проблеми.

                                Лечение и Терапия: Ние предоставяме индивидуално подходящи лечебни решения, включително лекарства, физиотерапия и рехабилитация.

                                Хирургични Процедури: Нашите опитни хирурзи извършват различни хирургични процедури, гарантирайки висока степен на безопасност и успех.

                                Екстрени Услуги: Ние сме на разположение 24/7, готови да предоставим неотложна медицинска помощ при спешни случаи.

                                Грижа и Подкрепа: Нашата мисия е да се грижим за пациентите ни не само по време на лечението, но и след него. Предоставяме информация и ресурси, за да помогнем на пациентите да се възстановят и поддържат доброто си здраве.


                            </p>
                        </div>
                        
                        <div class = "about-right">
                                <!-- <img class="img surgery" src = "{% static 'images/surgery.png' %}"> -->
                                <img class=" " src = "{% static 'images/therapy.png' %}">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    {% include 'footer.html' %}

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>