{% extends 'news.html' %}
{% load static%}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/add_news.css' %}"">
    <style>
      
        
    </style>
</head>
<body >
    <button class="back-button" ><a href="{% url 'news' %}" class="back-button">&#8678; Назад</a></button>
    <div class="form-container" >
        <form class="form" method="post" action="{% url 'add_news' %}" enctype="multipart/form-data">
          <h1>Добавяне на новина</h1>
            {% csrf_token %}
            {{form.as_p}}
          <button type="submit">Добави</button>
          {% for message in messages %}
            <p style="color: red;">{{message}}</p>
          {% endfor %}
        </form>
      </div>

</body>
</html>
{% endblock content %}

