{% load static %}
{% load my_custom_filters %}

<!DOCTYPE html>
<html lang="bg">        
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>График - Medicure</title>
    <link rel="icon" href="{% static 'images/tab-logo.png' %}" type="image">
    <link rel="stylesheet" href="{% static 'css/appointments.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% include 'nav.html' %}

    {% if user.is_authenticated %}
    <section class="table__body">
        <table>
            {% if user_profile.role == 'patient' %}
            <thead>
                <tr>
                    <th> Услуга </th>
                    <th> Детайли </th>
                    <th> Стая </th>
                    <th> Доктор </th>
                    <th> Час/дата </th>
                    <th> Статус </th>
                    <th> Действие </th>
                </tr>
            </thead>

            <tbody>
                {% for appointment in patient_appointments %}
                <tr>
                    <td> {{appointment.service}} </td> 
                    <td> {{appointment.details}} </td>
                    <td> {{appointment.doctor.room_num}} </td>
                    <td> Dr. {{appointment.doctor.user.last_name}} </td>
                    <td> {{appointment.appointment_time}}/{{appointment.appointment_date}} </td>
                    <td>
                        {% if  appointment.status == "Преглежда се" %}
                        <p class="status pending">{{appointment.status}}</p>
                        {% elif  appointment.status == "Одобрен" %}
                        <p class="status approved">{{appointment.status}}</p>
                        {% elif  appointment.status == "Отказан" %}
                        <p class="status cancelled">{{appointment.status}}</p>
                        {% elif  appointment.status == "Пропуснат" %}
                        <p class="status missed">{{appointment.status}}</p>
                        {% elif  appointment.status == "Изпълнен" %}
                        <p class="status done">{{appointment.status}}</p>
                        {% endif %}
                    </td>
                    <td>
                        <form method="post" class="form-appointments">
                            {% csrf_token %}
                            <input type="hidden" name="appointment_id" value="{{ appointment.id }}">
                            <input type="hidden" name="role" value="{{ user_profile.role }}">
                            {% if appointment.status == "Преглежда се" %}
                            <button class="cancelled" name="status" value="Отказан"> Откажи</button>
                            <a class="edit" href="{% url 'edit_appointment' appointment.id %}"> <i class="fas fa-edit"></i></a>
                            {% endif %}
                            
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% elif user_profile.role == 'doctor' %}
            
            <thead>
                <tr>
                    <th> Пациент </th>
                    <th> Услуга </th>
                    <th> Детайли </th>
                    <th> Час/дата </th>
                    <th> Статус </th>
                    <th> Действие </th>
                    
                </tr>
            </thead>
            
            <tbody>
                {% for appointment in doctor_appointments %}
                <tr>
                    <td> {{appointment.patient.user.first_name}} {{appointment.patient.user.last_name}}</td>
                    <td> {{appointment.service}} </td>
                    <td> {{appointment.details}} </td>
                    <td> {{appointment.appointment_time}}/{{appointment.appointment_date}} </td>
                    <td>
                        {% if  appointment.status == "Преглежда се" %}
                        <p class="status pending">{{appointment.status}}</p>
                        {% elif  appointment.status == "Одобрен" %}
                        <p class="status approved">{{appointment.status}}</p>
                        {% elif  appointment.status == "Отказан" %}
                        <p class="status cancelled">{{appointment.status}}</p>
                        {% elif  appointment.status == "Пропуснат" %}
                        <p class="status missed">{{appointment.status}}</p>	
                        {% elif  appointment.status == "Изпълнен" %}
                        <p class="status done">{{appointment.status}}</p>
                        {% endif %}
                    </td>
                    <td>
                        <form method="post" class="form-appointments">
                            {% csrf_token %}
                            <input type="hidden" name="appointment_id" value="{{ appointment.id }}">
                            <input type="hidden" name="role" value="{{ user_profile.role }}">
                            <button class="pending" name="status" value="Преглежда се">Преглежда се </button>
                            <button class="approved" name="status" value="Одобрен"> Одобрен </button>
                            <button class="cancelled" name="status" value="Отказан"> Отказан </button>
                            <button class="missed" name="status" value="Пропуснат">Пропуснат </button>
                            <button class="done" name="status" value="Изпълнен">Изпълнен </button>
                        </form> 
                    </td>
                </tr>
                    
                {% endfor %}
            
            </tbody>
            {% elif user_profile.role == 'admin' %}

            <thead>
                <tr>
                    <th> Пациент </th>
                    <th> Доктор</th>
                    <th> Услуга </th>
                    <th> Детайли </th>
                    <th> Час/дата </th>
                    <th> Статус </th>
                    <th> Действие </th>
                    
                </tr>
            </thead>
            
            <tbody>
                {% for appointment in appointments %}
                <tr onclick="window.location.href=''; " style="cursor:pointer;">
                    <td> {{appointment.patient.user.first_name}} {{appointment.patient.user.last_name}}</td>
                    <td> Dr. {{appointment.doctor.user.last_name}} </td>
                    <td> {{appointment.service}} </td>
                    <td> {{appointment.details}} </td>
                    <td> {{appointment.appointment_time}}/{{appointment.appointment_date}} </td>
                    <td>
                        {% if  appointment.status == "Преглежда се" %}
                        <p class="status pending">{{appointment.status}}</p>
                        {% elif  appointment.status == "Одобрен" %}
                        <p class="status approved">{{appointment.status}}</p>
                        {% elif  appointment.status == "Отказан" %}
                        <p class="status cancelled">{{appointment.status}}</p>
                        {% elif  appointment.status == "Пропуснат" %}
                        <p class="status missed">{{appointment.status}}</p>	
                        {% elif  appointment.status == "Изпълнен" %}
                        <p class="status done">{{appointment.status}}</p>
                        {% endif %}
                    </td>
                    <td>
                        <form method="post" class="form-appointments">
                            {% csrf_token %}
                            <input type="hidden" name="appointment_id" value="{{ appointment.id }}">
                            <input type="hidden" name="role" value="{{ user_profile.role }}">
                            <button class="pending" name="status" value="Преглежда се">Преглежда се </button>
                            <button class="approved" name="status" value="Одобрен"> Одобрен </button>
                            <button class="cancelled" name="status" value="Отказан"> Отказан </button>
                            <button class="missed" name="status" value="Пропуснат">Пропуснат </button>
                            <button class="done" name="status" value="Изпълнен">Изпълнен </button>
                            <button class="delete" name="action" value="delete"><i class="fa-solid fa-trash-can"></i> </button>
                            <a class="edit" href="{% url 'edit_appointment' appointment.id %}"> <i class="fas fa-edit"></i></a>
                        </form> 
                    </td>
                </tr>
                    
                {% endfor %}
            
            </tbody>

            {% endif %}
            
        </table>
    </section>
    {% else %}
        {{ html_content|safe }}
    {% endif %}

    <div class="popup">
        <div class="popup-container">
            <h1 class="heading-appointment">Запазване на час:</h1>
            {% include 'make_an_appointment.html' %} 
            {% for message in messages %}
            <script>alert('{{message}}')</script>
            {% endfor %}
        </div>
    </div>

    
        {% include 'footer.html' %}
    
        <script src = "{% static 'js/scripts.js' %}"></script>
</body>
</html>