{% load static %}
<!DOCTYPE html>
<html lang="bg">        
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>График - Medicure</title>
    <link rel="icon" href="{% static 'images/tab-logo.png' %}" type="image">
    <link rel="stylesheet" href="{% static 'css/appointments.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% include 'nav.html' %}

    {% if user.is_authenticated %}
    <section class="table__body">
        <table>
            {% if user_profile.role == 'patient' %}
            <thead>
                <tr>
                    <th> Услуга </th>
                    <th> Стая </th>
                    <th> Доктор </th>
                    <th> Час/дата </th>
                    <th> Статус </th>
                    <th> Действие </th>
                </tr>
            </thead>

            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td> {{appointment.service}} </td> 
                    <td> {{appointment.doctor.room_num}} </td>
                    <td> Dr.{{appointment.doctor.user.last_name}} </td>
                    <td> {{appointment.appointment_time}}/{{appointment.appointment_date}} </td>
                    <td>
                        {% if  appointment.status == "Преглежда се" %}
                        <p class="status pending">{{appointment.status}}</p>
                        {% elif  appointment.status == "Одобрен" %}
                        <p class="status approved">{{appointment.status}}</p>
                        {% else %}
                        <p class="status cancelled">{{appointment.status}}</p>
                        {% endif %}
                    </td>
                    <td> <strong> $128.90 </strong></td>
                </tr>
                {% endfor %}
            </tbody>
            {% elif user_profile.role == 'doctor' or user_profile.role == 'admin' %}
            <thead>
                <tr>
                    <th> Пациент </th>
                    <th> Услуга </th>
                    <th> Детайли </th>
                    <th> Час/дата </th>
                    <th> Статус </th>
                    <th> Действие </th>
                </tr>
            </thead>
            
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td> Zinzu Chan Lee</td>
                    <td> Seoul </td>
                    <td> Dr.Dencho </td>
                    <td> 17 Dec, 2022 </td>
                    <td>
                        <p class="status delivered">Delivered</p>
                    </td>
                    <td> <strong> $128.90 </strong></td>
                </tr>
                {% endfor %}
            </tbody>
            
            {% endif %}
            
        </table>
    </section>
    {% endif %}

    <div class="popup">
        <div class="popup-container">
            <h1 class="heading-appointment">Запазване на час:</h1>
            {% include 'make_an_appointment.html' %} 
            {% for message in messages %}
            <script>alert('{{message}}')</script>
            {% endfor %}
        </div>
    </div>

    
        {% include 'footer.html' %}
    
        <script src = "{% static 'js/scripts.js' %}"></script>
</body>
</html>