{% load static %}
<!DOCTYPE html>
<html lang="bg">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors - Medicure</title>
    <link rel="icon" href="{% static 'images/tab-logo.png' %}" type="image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% include 'nav.html' %}
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="popup">
        <div class="popup-container">
            <h1 class="heading-appointment">Запазване на час:</h1>
            {% include 'make_an_appointment.html' %} 
            {% for message in messages %}
            <script>alert('{{message}}')</script>
            {% endfor %}
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>