{% load static %}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Appointment Form</title>
    <link rel="icon" href="{% static 'images/tab-logo.png' %}" type="image">
    <link rel="stylesheet" href="{% static 'css/edit_appointment.css' %}">
</head>
<body >
  <button class="back-button" ><a href="{% url 'appointments' %}" class="back-button">&#8678; Назад</a></button>
    <div class="form-container" >
        <form class="form" method="post" action="{% url 'edit_appointment' appointment.id %}">
          <h1>Редактиране на запазен час</h1>
            {% csrf_token %}
            <label for="service">Редактиране услугата:</label>
            <select id="service" name="changed_service">
                <option value="None" disabled selected> {{ appointment.service }}</option>
                <option value="Преглед">Преглед</option>
                <option value="Химиотерапия">Химиотерапия</option>
                <option value="Физиотерапия">Физиотерапия</option>           
                <option value="Слагане на ваксина">Слагане на ваксина</option>           
                <option value="Пускане на изследвания">Пускане на изследвания</option>           
            </select>

            <label for="appointment_date">Редактиране датата:</label>
            <p>*Датата трябва да е в бъдещето</p>
            <input type="date" id="appointment_date" name="changed_appointment_date" >
        
            <label for="appointment_time">Редактиране часа:</label>
            <select id="appointment_time" name="changed_appointment_time">
            <option value="8:00-9:00">8:00-9:00</option>
            <option value="9:00-10:00">9:00-10:00</option>
            <option value="10:00-11:00">10:00-11:00</option>
            <option value="11:00-12:00">11:00-12:00</option>
            <option value="14:00-15:00">14:00-15:00</option>
            <option value="15:00-16:00">15:00-16:00</option>
            <option value="16:00-17:00">16:00-17:00</option>
            <option value="17:00-18:00">17:00-18:00</option>
            <option value="20:00-21:00">20:00-21:00</option>
            <option value="21:00-22:00">21:00-22:00</option>
            <option value="22:00-23:00">22:00-23:00</option>
        </select>
            <label for="textarea">Редактиране детайлите:</label>
            <textarea id="details" name="changed_details" rows="4" >{{ appointment.details }}</textarea>
          <button type="submit">Редактиране</button>
          {% for message in messages %}
            <p style="color: red;">{{message}}</p>
          {% endfor %}
        </form>
      </div>

</body>
</html>
