{% load static %}
<!DOCTYPE html>
<html lang="bg" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Влизане</title> 
    <link rel="icon" href="{% static 'images/tab-logo.png' %}" type="image">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body style="background-image: url( 'static/images/login_background.webp');">
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Влизане</span></div>
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Имейл" name="email" required>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Парола" name="password" required>
          </div>
          <div class="pass"><a href="{% url 'reset_password' %}">Забравена парола?</a></div>
          {% for message in messages %}
          <div class="error" style="color: red;">{{message}}</div>
          {% endfor %}
          <div class="row button">
            <input type="submit" value="Влезте">
          </div>
          <div class="signup-link">Нямате акаунт? <a href="{% url 'register' %}" target="">Регистриране</a>.</div>
        </form>
      </div>
    </div>

  </body>
</html>