{% extends 'news.html' %}
{% load static %}


<html lang="bg">
    {% block content %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/newsPageStyle.css' %}">
  <title>Medicure - новини</title>
</head>
<body>
    {% include 'nav.html' %}
    <br><br><br><br><br><br>
    <div class="popup">
        <div class="popup-container">
            <h1 class="heading-appointment">Запазване на час:</h1>
            {% include 'make_an_appointment.html' %} 
            {% for message in messages %}
            <script>alert('{{message}}')</script>
            {% endfor %}
        </div>
    </div>
  <div class="container">
    
    <header>
    <h1 class="heading-1">{{post.heading}}</h1>
    <div class="sub-heading">
      <p style="color:#0050d5">{{post.date}}/{{post.time}} | {{post.author}}</p>
      <!-- <p class="importent" style="color:#0050d5">your right to know</p> -->
    </div>
    </header>

    <div class="main">
      <div class="home">
        <div class="left">
          <img src="{{post.image.url}}" class="home-img" alt="Paper photo">

        
        </div>

        <div class="right">
          <h3 class="heading-3" style="color:#0050d5">Последните новини</h3>
          <div class="lists">
            {% for new in news %}
            <a href="{% url 'news' %}"><div class="list">
              <img src="{{new.image.url}}" alt="photo">
              <p>{{new.heading | truncatewords:10}}</p>
            </div></a>
            {% endfor %}
          </div>
        </div>
      </div>

      <article>
        <p>{{post.content}}</p>
      </article>
    </div>
  </div>

  <script src="{% static 'js/scripts.js' %}"></script>
</body>
{% endblock content %}
</html>