{% load static %}

<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моят профил | Medicure</title>
    <link rel="icon" href="{% static 'images/tab-logo.png' %}" type="image">
    <link rel="stylesheet" href="{% static 'css/MyProfile.css' %}">
</head>
<body>

    {% include 'nav.html' %}
<main>
    <br><br><br><br><br>
<div class="container-form">
<div class="user-details">

    <h3>Моят Профил:</h3>
<div class="input-box">
  <div class="user-details"></div>
    <span class="details">Първо име</span>
  <input value="{{user.first_name}}" readonly>
  </div>

  <div class="input-box">
    <span class="details">Фамилия</span>
    <input value="{{user.last_name}}" readonly>
  </div>
  
  <div class="input-box">
    <span class="details">Имейл</span>
    <input value="{{user.email}}" readonly>
  </div>

  <div class="input-box">
    <span class="details">Дата на раждане</span>
    <input value="{{user_profile.date_of_birth}}" readonly>
  </div>

  <div class="input-box">
    <span class="details">Пол</span>
    <input value="{{user_profile.gender}}" readonly>
  </div>

  <div class="input-box">
    <span class="details">Телефонен номер</span>
    <input value="{{user_profile.phone}}" readonly>
  </div>
  <hr>
  <h3>Промяна на парола:</h3>
 
<form class="user-details" method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="input-box" >
    <span class="details">Настояща парола</span>
    <input type="password"name="current_password" placeholder="Настояща парола" >
  </div>

  <div class="input-box" >
    <span class="details">Парола</span>
    <input type="password" name = "new_password" placeholder="Въведете нова парола" id="pass1" onkeyup="validate()">
    <span id="error" style="color:red" class="error_pass"></span>
  </div>

  <div class="input-box-center" >
    <span class="details">Потвърждение на парола</span>
    <input type="password" placeholder="Потвърдете парола" name="confirm_password" id="pass2" onkeyup="validate()">
  </div>

  <!-- <div class="input-box-no-border">
    <span class="user-details">Промяна на профилна снимка</span>
    <input type="file" accept="image/*" name="image">
  </div> -->
  
</div>

<div class="button">
  <input type="submit" value="Промяна на парола">
</div>
</form>


  {% for message in messages %}
  <span>{{message}}</span>
  {% endfor %}
  
</div>
</div>
</main>
<div class="popup">
  <div class="popup-container">
      <h1 class="heading-appointment">Запазване на час:</h1>
      {% include 'make_an_appointment.html' %} 
      {% for message in messages %}
      <script>alert('{{message}}')</script>
      {% endfor %}
  </div>
</div>
<script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>