{% load static %}
<!DOCTYPE html>
<html lang="bg" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Забравена парола</title> 
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body style="background-image: url({% static  'images/login_background.webp' %});">
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Забравена парола</span></div>
        <form method="post" action="{% url 'reset_password' %}">
          {% csrf_token %}
          <div class="row">
          <p>*Забравили сте си паролата? Въведете своя имейл адрес по-долу и ние ще изпратим временна парола.</p>
          </div>
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Имейл" name="email" required>
          </div>
          <div class="row button">
            <input type="submit" value="Изпрати">
          </div>
        </form>
        {% for message in messages %}
        {{message}}
        {% endfor %}      
      </div>
    </div>

  </body>
</html>