body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    background-color: #0050d5;
}
::-webkit-scrollbar {
    width: 0; /* For Chrome, Safari, and newer Edge browsers */
}
.container {
    width: 100em;
    padding: 4em;
    border-radius: 8px;
}
.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
figure {
    margin: 0;
}
figcaption {
    text-align: center;
    padding-top: 8px;
}
section {
    margin-top: 2em;
    background-color: #16c5ff;
    padding: 20px;
    border-radius: 8px;
}

.popup{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-container{
    background-color: #f0f8ff; /* Light Blue */
    color: #ffff; /* White */
    padding: 20px;
    border-radius: 5px;
    position: relative; 
}
.heading-appointment{
    color: #000;
}